<div class="todo-outer-div">
  <div class="todo-div">

    <h2 class="heading">To Do List</h2>
    <form #form="ngForm" (ngSubmit)="submitTask(form)">
    <div class="inputFieldDiv">
      <input id="task" class="inputField" type="text" placeholder="Enter a task" name="task" [(ngModel)]="task"/>
      <button class="addTaskButton">Add Task</button>
    </div>
  </form>
  <div class="displayDiv">
    <table style="width: 100%;">
      <tr class="tableRow"  *ngFor="let item of taskList;let i=index">
        <ng-container [class.strike] = "(item.completed===true) ">
        <td class="tableData">{{item.task}}</td>
        <td class="completed" >
          <input id="completed" [checked]="item.completed" type="checkbox" value="item.completed" (change)="completeTask(i)">
        </td>
        <td class="EdittableContent">
          <button (click)="editTask(item)">
            ✎
          </button>
        </td>
        <td class="tableContent">
          <button (click)="deleteTask(i)">×</button>
        </td>
      </ng-container>
      </tr>
    </table>
    
  </div>

  </div>
</div>

<router-outlet />
